html{
  box-sizing:border-box;
  font-family: 'Outfit', sans-serif;
  font-size:16px;
  font-weight:400;
}
*, *:before, *:after {
  box-sizing:inherit;
}
body{
  padding:20px;
}
h2,h4,p {
  margin:0px;
}
#card {
  width:600px;
  height:400px; 
  box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.22);
  border-radius:5px; /*Even tho we added a radius into the card, its not really changing, the reasong being is that because we added a div at the bottom section That's occupying a 100% of the whole section, The child containers are what are being shown. */
 overflow:hidden; /* Overflow makes it so if there's anything breaking out  of the main container. and we give it a value of hidden, it will hide away those properties, so we're gonna hide the border of the child div containers this way */
}
#topsection {
  width:100%;
  height:45%;
  padding:25px;
}
#topsection h2 {
  color: #2ab2b0;
  /*Since we removed the margin earlier we can add any custom amount to give the correct spacing */
  margin-bottom: 20px;
}
#topsection h4 {
  color:#c0df34;
  margin-bottom: 10px;
}
#topsection p {
  color:#7b879d;
}
#bottomsection {
  width:100%;
  height:55%;
  color:white;
  background:#2AB2B0;
}
#bottomleft {
  width:50%;
  height:100%;
  
  display:inline-block;
  vertical-align:top; /*Property of inline blocks*/
  padding:25px;
}
#bottomleft h4 {
  margin-bottom:25px;
}
#priceNumber  {
  font-weight:700;
}
#priceNumber,#priceWord{
  display:inline-block;
  margin-bottom:15px;
}
#priceWord {
  /*We need to display the Number a lil bit upper than the number so we're gonna change the position of this element to be relative to its own space */
  position:relative;
  top:-3px; /*A negative number goes to the top instead of reducing from the top*/
  font-size: 0.8rem;
  margin-left:5px;
  opacity:0.7;
}
#bottomright {
  width:50%;
  height:100%;
  display:inline-block;
  vertical-align:top;
  background: #2EBFBD;
  padding: 25px;
}
.graycolor {
  color: #d6e2f0;
}
button {
  color:white;
  border:none;
  background: #c0df34;
  width:100%;
  height:40px;
  border-radius:5px;
  margin-top:30px;
}
#description {
  font-size:0.8rem;
  opacity:0.8;
}
.listElements {
  opacity:0.8;
  color:#d6e2f0;
  padding:0;
  list-style:none;
  font-size:0.8rem;
}
button:hover {
  opacity:0.8;
  cursor:pointer;
  transform:scale(1.02);
}
